In [1]:
from mediapipe import solutions as mp
import cv2 as cv
import numpy as np

In [2]:
mp_drawing=mp.drawing_utils
mp_holistic=mp.holistic

In [3]:
holistic=mp_holistic.Holistic(min_detection_confidence=0.7)

In [4]:
21*3

63

In [5]:
def draw_landmarks(results,image):
    mp_drawing.draw_landmarks(image,results.left_hand_landmarks,mp_holistic.HAND_CONNECTIONS)
    mp_drawing.draw_landmarks(image,results.right_hand_landmarks,mp_holistic.HAND_CONNECTIONS)
    mp_drawing.draw_landmarks(image,results.face_landmarks,mp_holistic.FACEMESH_CONTOURS,mp_drawing.DrawingSpec(color=(0,255,0),thickness=1,circle_radius=1),mp_drawing.DrawingSpec(color=(0,255,0),thickness=1,circle_radius=1))
    mp_drawing.draw_landmarks(image,results.pose_landmarks,mp_holistic.POSE_CONNECTIONS)

In [6]:
def extract_landmarks(results):
    lh=np.array([[landmark.x,landmark.y,landmark.z] for landmark in results.left_hand_landmarks.landmark]).flatten() if results.left_hand_landmarks else np.zeros(63)
    rh=np.array([[landmark.x,landmark.y,landmark.z] for landmark in results.right_hand_landmarks.landmark]).flatten() if results.right_hand_landmarks else np.zeros(63)
    return np.concatenate([lh,rh])

In [12]:
cap=cv.VideoCapture(0)

while cap.isOpened():
    _,frame=cap.read()
    try:
        if cv.waitKey(1)==27:
            cap.release()
            cv.destroyAllWindows()
            break
            
        image=cv.cvtColor(frame,cv.COLOR_BGR2RGB)
        results=holistic.process(image)
        image=cv.cvtColor(image,cv.COLOR_RGB2BGR)
        draw_landmarks(results,image)
        landmarks=extract_landmarks(results)
    except:
        continue
        
    
    
    cv.imshow('frame',image)

In [19]:
total_landmarks=2*len(results.right_hand_landmarks.landmark)

In [35]:

from pandas import *

In [21]:
total_landmarks

42

In [52]:
landmark_list=[]
for i in range(42):
    landmark_list=landmark_list+[f'x{i}',f'y{i}',f'z{i}']

In [53]:
len(landmark_list)

126

In [54]:
df=DataFrame(columns=landmark_list)

In [55]:
df

Empty DataFrame
Columns: [x0, y0, z0, x1, y1, z1, x2, y2, z2, x3, y3, z3, x4, y4, z4, x5, y5, z5, x6, y6, z6, x7, y7, z7, x8, y8, z8, x9, y9, z9, x10, y10, z10, x11, y11, z11, x12, y12, z12, x13, y13, z13, x14, y14, z14, x15, y15, z15, x16, y16, z16, x17, y17, z17, x18, y18, z18, x19, y19, z19, x20, y20, z20, x21, y21, z21, x22, y22, z22, x23, y23, z23, x24, y24, z24, x25, y25, z25, x26, y26, z26, x27, y27, z27, x28, y28, z28, x29, y29, z29, x30, y30, z30, x31, y31, z31, x32, y32, z32, x33, ...]
Index: []

[0 rows x 126 columns]

In [56]:
class_df=DataFrame(columns=['class'])

In [57]:
class_df

Empty DataFrame
Columns: [class]
Index: []

In [61]:

# collecting live data
class_name='ready'

In [62]:
cap=cv.VideoCapture(0)

while cap.isOpened():
    _,frame=cap.read()
    
        
    image=cv.cvtColor(frame,cv.COLOR_BGR2RGB)
    results=holistic.process(image)
    image=cv.cvtColor(image,cv.COLOR_RGB2BGR)
    draw_landmarks(results,image)
#     mp_drawing.draw_landmarks(image,results.left_hand_landmarks,mp_holistic.HAND_CONNECTIONS)
#     mp_drawing.draw_landmarks(image,results.right_hand_landmarks,mp_holistic.HAND_CONNECTIONS)
    # mp_drawing.draw_landmarks(image,results.face_landmarks,mp_holistic.FACEMESH_CONTOURS,mp_drawing.DrawingSpec(color=(0,255,0),thickness=1,circle_radius=1),mp_drawing.DrawingSpec(color=(0,255,0),thickness=1,circle_radius=1))
    # mp_drawing.draw_landmarks(image,results.pose_landmarks,mp_holistic.POSE_CONNECTIONS)
    
#     pose
    # pose=results.pose_landmarks.landmark
    # pose_row=list(np.array([[landmark.x,landmark.y,landmark.z,landmark.visibility] for landmark in pose]).flatten())
    # face=results.face_landmarks.landmark
    # face_row=list(np.array([[landmark.x,landmark.y,landmark.z,landmark.visibility] for landmark in face]).flatten())
    # row=pose_row+face_row
    # row.insert(0,class_name)
    landmarks=extract_landmarks(results)
    
    
    #adding data to pandas data_frame
    df.loc[len(df)]=landmarks
    class_df.loc[len(class_df)]=class_name
    
    if cv.waitKey(2)==27:
        cap.release()
        cv.destroyAllWindows()
        break
    
    
    cv.imshow('frame',image)

In [7]:
cap.release()

In [63]:
df

,x0,y0,z0,x1,y1,z1,x2,y2,z2,x3,...,z38,x39,y39,z39,x40,y40,z40,x41,y41,z41
0,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,0.672318,0.805353,-4.206358e-08,0.647711,0.766020,-0.002508,0.618035,0.754015,-0.006642,0.592241,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
882,0.694514,0.796932,-1.326698e-07,0.676979,0.764802,-0.005680,0.654126,0.748512,-0.014886,0.634035,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
883,0.706744,0.758776,1.367024e-08,0.696825,0.721242,-0.008032,0.674000,0.691968,-0.017501,0.652751,...,-0.011982,0.541699,0.766944,-0.011307,0.531299,0.760497,-0.004399,0.521188,0.762667,0.000814
884,0.700611,0.687796,-3.103206e-08,0.685415,0.643576,-0.006068,0.665539,0.612349,-0.013995,0.651930,...,-0.025141,0.557842,0.685026,-0.024063,0.547735,0.681217,-0.015628,0.536541,0.685090,-0.009521
885,0.707585,0.688674,-5.499803e-09,0.694062,0.648277,-0.006273,0.672329,0.619305,-0.012844,0.656735,...,-0.018104,0.555564,0.692523,-0.015943,0.546665,0.687548,-0.008800,0.536047,0.689596,-0.003947

In [64]:
class_df

         class
0    not ready
1    not ready
2    not ready
3    not ready
4    not ready
..         ...
881      ready
882      ready
883      ready
884      ready
885      ready

[886 rows x 1 columns]

In [51]:
del df
del class_df

In [47]:
int(-4.384927e-07)

0

In [52]:
-8.509754e-07 < -4.384927e-07

True

In [65]:
df.to_csv('read_data.csv')
class_df.to_csv('classes.csv')

In [56]:
start_point1=(180,0)

In [57]:
end_point1=(180,480)

In [58]:
start_point2=(440,0)

In [59]:
end_point2=(440,480)

In [75]:
cap=cv.VideoCapture(0)

while cap.isOpened():
    _,frame=cap.read()
    try:
        
            
        image=cv.cvtColor(frame,cv.COLOR_BGR2RGB)
        results=holistic.process(image)
        image=cv.cvtColor(image,cv.COLOR_RGB2BGR)
        draw_landmarks(results,image)
        cv.line(image,start_point1,end_point1,(0,255,0),1)
        cv.line(image,start_point2,end_point2,(0,255,0),)
        cv.putText(image,'place yourself in such a position ',(20,380),cv.FONT_HERSHEY_SIMPLEX,1,(0,255,0),1,cv.LINE_AA)
        cv.putText(image,'that both shoulders come inside ',(20,400+8),cv.FONT_HERSHEY_SIMPLEX,1,(0,255,0),1,cv.LINE_AA)
        cv.putText(image,'the green box and do ready sign',(20,420+8),cv.FONT_HERSHEY_SIMPLEX,1,(0,255,0),1,cv.LINE_AA)
        # landmarks=extract_landmarks(results)
    except:
        pass
    
    
    if cv.waitKey(1)==27:
            cap.release()
            cv.destroyAllWindows()
            break
    cv.imshow('frame',image)

In [32]:
# range 1
results.pose_landmarks.landmark[14],results.pose_landmarks.landmark[13]

(x: 0.3756353
 y: 0.7029769
 z: -0.2134277
 visibility: 0.9730139,
 x: 0.7888814
 y: 0.67163056
 z: -0.15271327
 visibility: 0.954656)

In [28]:
# range 2
results.pose_landmarks.landmark[14],results.pose_landmarks.landmark[13]

(x: 0.40908027
 y: 0.72627217
 z: -0.1940277
 visibility: 0.9550642,
 x: 0.71907794
 y: 0.70081997
 z: -0.13998124
 visibility: 0.9583299)

In [30]:
# range 3
results.pose_landmarks.landmark[14],results.pose_landmarks.landmark[13]

(x: 0.4103341
 y: 0.7191417
 z: -0.2233502
 visibility: 0.9760119,
 x: 0.69762313
 y: 0.7088432
 z: -0.098089956
 visibility: 0.9778157)

In [8]:
image.shape

(480, 640, 3)

In [10]:
results.pose_landmarks.landmark[24]

x: 0.38702258
y: 1.5778618
z: 0.04150772
visibility: 0.0005064775

In [11]:
results.pose_landmarks.landmark[12]

x: 0.32288572
y: 0.90164894
z: -0.41410336
visibility: 0.9754075