In [2]:
from mediapipe import solutions as mp
import cv2 as cv
import numpy as np

In [3]:
mp_drawing=mp.drawing_utils
mp_holistic=mp.holistic

In [4]:
holistic=mp_holistic.Holistic(min_detection_confidence=0.7)

In [5]:
21*3

63

In [7]:
def draw_landmarks(results,image):
    mp_drawing.draw_landmarks(image,results.left_hand_landmarks,mp_holistic.HAND_CONNECTIONS)
    mp_drawing.draw_landmarks(image,results.right_hand_landmarks,mp_holistic.HAND_CONNECTIONS)
    mp_drawing.draw_landmarks(image,results.face_landmarks,mp_holistic.FACEMESH_CONTOURS,mp_drawing.DrawingSpec(color=(0,255,0),thickness=1,circle_radius=1),mp_drawing.DrawingSpec(color=(0,255,0),thickness=1,circle_radius=1))
    mp_drawing.draw_landmarks(image,results.pose_landmarks,mp_holistic.POSE_CONNECTIONS)

In [11]:
def extract_landmarks(results):
    lh=np.array([[landmark.x,landmark.y,landmark.z] for landmark in results.left_hand_landmarks.landmark]).flatten() if results.left_hand_landmarks else np.zeros(63)
    rh=np.array([[landmark.x,landmark.y,landmark.z] for landmark in results.right_hand_landmarks.landmark]).flatten() if results.right_hand_landmarks else np.zeros(63)
    return np.concatenate([lh,rh])

In [16]:
cap=cv.VideoCapture(0)

while cap.isOpened():
    _,frame=cap.read()
    if cv.waitKey(1)==27:
        cap.release()
        cv.destroyAllWindows()
        break
        
    image=cv.cvtColor(frame,cv.COLOR_BGR2RGB)
    results=holistic.process(image)
    image=cv.cvtColor(image,cv.COLOR_RGB2BGR)
    draw_landmarks(results,image)
    landmarks=extract_landmarks(results)
    
    
    
    cv.imshow('frame',image)

In [19]:
total_landmarks=2*len(results.right_hand_landmarks.landmark)

In [20]:

from pandas import *

In [21]:
total_landmarks

42

In [28]:
landmark_list=[]
for i in range(total_landmarks):
    landmark_list=landmark_list+[f'x{i}',f'y{i}',f'z{i}']

In [29]:
len(landmark_list)

126

In [37]:
df=DataFrame(columns=landmark_list)

In [38]:
df

Empty DataFrame
Columns: [x0, y0, z0, x1, y1, z1, x2, y2, z2, x3, y3, z3, x4, y4, z4, x5, y5, z5, x6, y6, z6, x7, y7, z7, x8, y8, z8, x9, y9, z9, x10, y10, z10, x11, y11, z11, x12, y12, z12, x13, y13, z13, x14, y14, z14, x15, y15, z15, x16, y16, z16, x17, y17, z17, x18, y18, z18, x19, y19, z19, x20, y20, z20, x21, y21, z21, x22, y22, z22, x23, y23, z23, x24, y24, z24, x25, y25, z25, x26, y26, z26, x27, y27, z27, x28, y28, z28, x29, y29, z29, x30, y30, z30, x31, y31, z31, x32, y32, z32, x33, ...]
Index: []

[0 rows x 126 columns]

In [39]:
class_df=DataFrame(columns=['class'])

In [40]:
class_df

Empty DataFrame
Columns: [class]
Index: []

In [ ]:

# collecting live data
class_name='Happy'

In [41]:
cap=cv.VideoCapture(0)

while cap.isOpened():
    _,frame=cap.read()
    
        
    image=cv.cvtColor(frame,cv.COLOR_BGR2RGB)
    results=holistic.process(image)
    image=cv.cvtColor(image,cv.COLOR_RGB2BGR)
    draw_landmarks(results,image)
#     mp_drawing.draw_landmarks(image,results.left_hand_landmarks,mp_holistic.HAND_CONNECTIONS)
#     mp_drawing.draw_landmarks(image,results.right_hand_landmarks,mp_holistic.HAND_CONNECTIONS)
    # mp_drawing.draw_landmarks(image,results.face_landmarks,mp_holistic.FACEMESH_CONTOURS,mp_drawing.DrawingSpec(color=(0,255,0),thickness=1,circle_radius=1),mp_drawing.DrawingSpec(color=(0,255,0),thickness=1,circle_radius=1))
    # mp_drawing.draw_landmarks(image,results.pose_landmarks,mp_holistic.POSE_CONNECTIONS)
    
#     pose
    # pose=results.pose_landmarks.landmark
    # pose_row=list(np.array([[landmark.x,landmark.y,landmark.z,landmark.visibility] for landmark in pose]).flatten())
    # face=results.face_landmarks.landmark
    # face_row=list(np.array([[landmark.x,landmark.y,landmark.z,landmark.visibility] for landmark in face]).flatten())
    # row=pose_row+face_row
    # row.insert(0,class_name)
    landmarks=extract_landmarks(results)
    
    
    #adding data to pandas data_frame
    df.loc[len(df)]=landmarks
    class_df.loc[len(class_df)]='action'
    
    if cv.waitKey(2)==27:
        cap.release()
        cv.destroyAllWindows()
        break
    
    
    cv.imshow('frame',image)

In [8]:
cap.release()

In [42]:
df

,x0,y0,z0,x1,y1,z1,x2,y2,z2,x3,...,z38,x39,y39,z39,x40,y40,z40,x41,y41,z41
0,0.688838,0.420692,-8.618582e-07,0.630327,0.378204,0.016273,0.586690,0.337459,0.008455,0.549446,...,-0.055687,0.389711,0.352916,-0.063355,0.379760,0.378557,-0.054893,0.362045,0.379093,-0.049052
1,0.718878,0.438815,-4.384927e-07,0.676051,0.374952,0.009457,0.623248,0.324964,0.006409,0.582404,...,-0.047646,0.409303,0.431073,-0.057399,0.402942,0.441399,-0.054450,0.387688,0.438988,-0.052410
2,0.727526,0.442878,-5.010587e-07,0.688498,0.374785,0.013726,0.637716,0.319891,0.009880,0.599545,...,-0.051119,0.417062,0.449308,-0.058914,0.398964,0.457207,-0.053088,0.375486,0.447021,-0.049676
3,0.736338,0.439243,-4.809481e-07,0.697781,0.370172,0.012800,0.646870,0.314541,0.009486,0.607586,...,-0.048036,0.422375,0.443030,-0.054974,0.404461,0.451228,-0.049319,0.381231,0.440378,-0.045799
4,0.718576,0.422968,-8.509754e-07,0.683937,0.354556,0.018504,0.639753,0.302349,0.014373,0.602965,...,-0.051021,0.423548,0.435773,-0.056693,0.405247,0.447435,-0.049311,0.381083,0.438078,-0.044519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
156,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
157,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
158,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
159,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [43]:
class_df

      class
0    action
1    action
2    action
3    action
4    action
..      ...
155  action
156  action
157  action
158  action
159  action

[160 rows x 1 columns]

In [47]:
int(-4.384927e-07)

0

In [52]:
-8.509754e-07 < -4.384927e-07

True

In [ ]:
df.to_csv('read_data.csv')
class_df.to_csv('classes.csv')